<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bitcoin Checker</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link  rel="stylesheet" type="text/css"  href="stylesheets/styles.css">
    </head>

    <body>
        <section class="fade-scroll">
            <div class="parallax">
 
            <div class="banner" >
                Bitcoin Checker
            </div>
        
                <div    class="hero-text">
                    <ul class="grid">
                        <span class="super">1 Bitcoin value in USD : </span>
                        <span class="data">$<%=data%></span>
                        <a href="/"  class="btn btn-lg btn-primary" type="input">Refresh</a>
                    </ul>
                </div>  
             </div>
        </section>
    <p id="announ"> Places you can use your bitcoins now</p>
    <div class="places">

       <blockquote class="embedly-card"><h4><a href="https://www.overstock.com/bitcoin">Bitcoin on Overstock.com</a>
       </h4><p>Overstock.com is the first major retailer to join the Bitcoin market. You can now use Bitcoins to purchase all of your favorite products.</p>
       </blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
   
       <blockquote class="embedly-card"><h4><a href="https://www.expedia.com/Checkout/BitcoinTermsAndConditions">Bitcoin Terms & Conditions</a></h4>
       <p>These Bitcoin Terms & Conditions ("Terms & Conditions") apply to your use of Bitcoin as your selected payment method. Please read these Terms & Conditions carefully. By using Bitcoin as your method of payment, you acknowledge and agree to be bound by these Terms & Conditions.</p>
       </blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
       
        <blockquote class="embedly-card"><h4><a href="https://promotions.newegg.com/nepro/14-3854/index.html?nm_mc=KNC-GoogleKWLess&cm_mmc=KNC-GoogleKWLess-_-Branding-_-Main-_-Bitcoin&gclid=Cj0KCQiAlpDQBRDmARIsAAW6-DNlee4VOeChE440TjWYn0LQgp8Xfd0Lt0rhQwdvahq5RCiiAD69zyMaAhrdEALw_wcB&gclsrc=aw.ds">Newegg.com - BITCOIN ACCEPTED</a></h4>
        <p>Newegg.com,</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    
    
        <blockquote class="embedly-card"><h4><a href="https://www.virgin.com/richard-branson/bitcoins-space">Bitcoins in space</a></h4><p>Virgin Galactic is one of the universe's most exciting, futuristic companies. Bitcoin, the virtual currency, has really captured the imagination recently as one of the world's most innovative businesses looking to the future.</p>
        </blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    
        <blockquote class="embedly-card"><h4><a href="https://www.egifter.com/bitcoin/">eGifter - The best place to buy gift cards online.</a></h4><p>Send gifts to friends, family, or yourself with easy to redeem eGift Cards from over 250 top brands and you'll earn points to save on future purchases!</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        
        <blockquote class="embedly-card"><h4><a href="http://about.dish.com/press-release/products-and-services/dish-accept-bitcoin">DISH to Accept Bitcoin | About DISH</a></h4><p>ENGLEWOOD, Colo.--(BUSINESS WIRE)--DISH today announced that it will become the largest company to accept bitcoin. As the first subscription model pay-TV provider to make this move, DISH will begin accepting bitcoin payments from customers starting in the third quarter. DISH Network L.L.C.</p></blockquote>
        <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    
    
    </div>   
    
    </body>
        
     <footer>
            
            <p>Image courtesy of <a href="http://www.middleofforever.com/photography/asbury-park-nj-jan-2017">Stephen D' Andrea</a>.</p>
            <p>Website Designed by Shreyas Murali</p>
     </footer>
    
    
</html>